.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #f8dfff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  width: 100rem;
  margin-right: .5rem;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
}