.balance {
  padding: 1rem;
  border-radius: 12px;
  background-color: #e3fce0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

.balance.half {
  background-color: #fcf9e0;
}

.balance.full {
  background-color: #ffe0e0;
}